USE [master]
GO
/****** Object:  Database [Movies]    Script Date: 9/22/2020 5:23:12 PM ******/
CREATE DATABASE [Movies]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Movies', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Movies.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Movies_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Movies_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Movies].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Movies]
GO
/****** Object:  User [asdf]    Script Date: 9/22/2020 5:23:12 PM ******/
CREATE USER [asdf] FOR LOGIN [asdf] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [asdf]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 9/22/2020 5:23:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Title] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Movies] ([Title], [Category]) VALUES (N'TestMovie1', N'Action')
INSERT [dbo].[Movies] ([Title], [Category]) VALUES (N'TestMovie2', N'Comedy')
INSERT [dbo].[Movies] ([Title], [Category]) VALUES (N'TestMovie3', N'Comedy')
GO
USE [master]
GO
